POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ru_liquidity_sentinel
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

BACKEND_PORT=8080
ML_GRPC_PORT=50051
FRONTEND_PORT=3000

LLM_PROVIDER=openai
LLM_API_KEY=changeme
EMBEDDING_MODEL=text-embedding-3-small
RAG_TOP_K=5
